<!-- PAGE HEADING -->

<html>

<head>
<base href="..">
<title>Operator Theory and Indefinite Inner Product Spaces 2024</title>
<link rel="stylesheet" type="text/css" media="all" href="Styles/main.css"/>
<link rel="stylesheet" type="text/css" media="all" href="Styles/header.css"/>
</head>

<body>

<div class="title">
	<span class="title1">Operator Theory and</span>
	<br><br><br><br>
	<span class="title2">Indefinite Inner Products</span>

</div>
<div class="location">
	February 7-9, 2025. TU Wien, Vienna, Austria
	<br>
	In memory of Heinz Langer (8.8.1935 - 25.1.2024)
</div>

</body>
</html>

